includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/

    scanFiles:
        - _ide_helper.php
        - .phpstorm.meta.php

    level: 5

    ignoreErrors:
        - '#.*Redis::eval.*#'
